/*@import url('https://fonts.googleapis.com/css?family=Poor+Story');*/
@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,500,700');

html, body {
    padding: 0;
    margin: 0;
    font-family: "Tajawal", serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #325aa2;
    font-weight: 600;
}

a:hover {
    color: #000;
}

.page-wrapper {
    margin: 10% 15%;
}

#header {
    display: grid;
    grid-template-areas: "logo menu";
}

.logo-wrapper img {
    max-width: 110px;
    margin-left: -25px;
}

.menu-list {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, 100px);
    padding: 0;
    margin-top: 25px;
    list-style: none;
    float: right;
    /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
}

.menu-list li {
    text-align: right;
}

.menu-list a {
    text-decoration: none;
    color: black;
}

.section__header {
    font-size: 2rem;
    color: #222222;
}

.section__header:first-child {
    margin-top: 0;
}

/*
    #about section
*/

#about {
    margin-top: 70px;
}

.about__text {
    font-size: 1.5rem;
    color: #1f1e1e;
}

/*
    #projects section
*/
#works {
    margin-top: 60px;
}

.projects {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "one two";
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
}

.project img {
    max-width: 100%;
    position: relative;
}

.project__name {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0 0 0;
    color: #2d2d2d;
}

.project__info__text {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 10px;
    color: #1f1e1e;
}

.contact__text {
    font-size: 1.3rem;
}

@media (max-width: 700px) {
    .logo-wrapper img {
        max-width: 130px;
    }

    .projects {
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
        ;
    }

    .page-wrapper {
        margin: 8% 5%;
    }

    .about__text {
        font-size: 1.3rem;
    }
}

